<ul>
    {{#each this}}


    {{!-- <div class="card border border-success ready" id={{ this.id}}>
        <div class="card-body">
            <p><span> ID:</span> {{ this.id}}</p>
            <p><span> Name:</span> {{ this.name}}</p>
            <p><span> Summary:</span> {{ this.summary}}</p>
            <p><span> Difficulty:</span> {{ this.difficulty}}</p>
            <p><span> Location:</span> {{ this.location}}</p>

            <button type="button" class="btn btn-info" data-myval={{ this.id}}>Save This Hike</button>

        </div>

    </div>

    <br> --

    <div class="modal-wrapper hidden">
        <div class="container">
            <div class="header">
                <h2>Modal header</h2>
                <img src="{image src}" />
                <p>{caption text}</p>
            </div>
        </div>
    </div>


    {{/each}}

</ul>

<h3>Examples:</h3>
<ul id="favorite-hike" class="list-group">
    {{#each examples}}
    <li data-id="{{this.id}}" class="list-group-item">
        <a href="example/{{this.id}}">{{this.text}}</a>
        <button class="btn btn-danger float-right delete">ｘ</button>
    </li>
    {{/each}}
</ul>
</div>
</div>
</div>
</div>

{{!-- <script>
    $('img').on("click", function () {
        var imageSrc = this.attr('src');

        $('.modal-wrapper .header img).attr("src",imageSrc);


   $('.modal-wrapper').toggle();

})
</script> --}}


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/assets/js/index.js"></script>