<ul id="trailBg">



   {{#each trails}}


   <div class="card border border-success ready" id={{ this.id}}>
      <div class="card-body" id="hikeCard">
         <div class="row">
            <div class="col-sm-3">


               <img src={{imgSmallMed}} alt="Smiley face" width="280px" height="200px" style="border:solid">

            </div>
            <div id="hikeTitle" class="col-sm-5">
               <header id="hikeName">
                  <h3><span id="hikeName">{{{name}}}</span></h3>
                  {{!-- <h3><span style= "font-family: Tillana">{{{name}}}</span></h3> --}}
               </header>

               <div class="container" id="summary">
                  <h6>{{summary}}</h6>
               </div>
               <br>
               <button type="button" class="btn btn-info btn-saveTrail" data-trailname="{{name}}"
                  data-myval="{{ this.id}}" data-type="{{type}}" data-summary="{{summary}}"
                  data-difficulty="{{difficulty}}" data-stars="{{stars}}" data-location="{{location}}"
                  data-url="{{url}}" data-image="{{imgMedium}}" data-length="{{length}}" data-longit="{{longitude}}"
                  data-latit="{{latitude}}" data-conditionstat="{{conditionStatus}}"
                  data-conddetails="{{conditionDetails}}" data-hikerId=1 data-conddate="{{conditionDate}}">Save This
                  Hike</button>

            </div>
            <div class="col-sm-4">
               <h4>{{location}}</h4>

               <h5 style="font-style: italic"> Difficulty: {{difficulty}}</h5>
               <p id="stars">STARS: {{stars}}</p>
               <br>
               <h5 style="font-style: italic"><strong><a href="{{url}}" target="_blank">More Info </a></strong></h5>

            </div>

         </div>
      </div>

   </div>



   {{!-- <br> --}}


   {{/each}}
</ul>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/assets/js/index.js"></script>
{{!-- <script src="/assets/js/modal.js"></script> --}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.js"></script>